.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* styles.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container p {
  margin: 10px 0;
  font-size: 1.2em;
  color: #333;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  width: 200px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

/* App.css */
.error-messagefe {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.transaction-history {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.transaction-history h2 {
  margin-bottom: 10px;
}

.transaction-history ul {
  list-style: none;
  padding: 0;
}

.transaction-history li {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.transaction-history p {
  margin: 5px 0;
}

.app-container {
  padding: 20px;
}

.content-container {
  margin-top: 20px;
}

.input-container {
  margin-bottom: 20px;
}

.transaction-history {
  margin-top: 20px;
}

.transaction-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns layout */
  gap: 20px; /* Space between columns */
}

.transaction-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.error-message {
  color: red;
}






.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
